:root {
  --font-family-inter: 'Inter', sans-serif;
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 800px;
  height: 86px;
  font-size: 72px;
  font-family: var(--font-family-inter);
  font-weight: bold;
  text-align: center;
  color: rgba(30, 30, 30, 1);
}

.text-content-title-2 {
  position: absolute;
  left: 306px;
  top: 257px;
  width: 588px;
  height: 86px;
}

.text-4 {
  position: absolute;
  left: 400px;
  top: 208px;
  width: 588px;
  height: 38px;
  font-size: 32px;
  font-family: var(--font-family-inter);
  font-weight: normal;
  text-align: center;
  color: rgba(117, 117, 117, 1);
}

.text-7 {
  margin-left: 18px;
  font-size: 16px;
  font-family: var(--font-family-inter);
  font-weight: normal;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgba(30, 30, 30, 1);
}

.button-6 {
  position: absolute;
  top: 50px;
  left: 100px;
  gap: 8px;
  padding: 12px 12px 12px 12px;
  width: 112px;
  background-color: rgba(205, 205, 205, 1);
  border: 1px solid rgba(118, 118, 118, 1);
  border-radius: 8px;
}

.text-9 {
  margin-left: 20px;
  font-size: 16px;
  font-family: var(--font-family-inter);
  font-weight: normal;
  text-align: center;
  color: rgba(30, 30, 30, 1);
  background-color: rgba(205, 205, 205, 1);
  border-color: rgba(205, 205, 205, 1);
}

.button-8 {
  position: absolute;
  top: 50px;
  left: 230px;
  gap: 8px;
  padding: 12px 12px 12px 12px;
  width: 112px;
  background-color: rgba(30, 30, 30, 1);
  border: 1px solid rgba(44, 44, 44, 1);
  border-radius: 8px;
}

.button-group-5 {
  position: absolute;
  left: 480px;
  top: 372px;
  width: 240px;
  height: 40px;
}

.logo-1-10 {
  position: absolute;
  left: 1015px;
  top: 252px;
  width: 87px;
  height: 97px;
  width: 6%;
  height: auto;
}

.dashboard-1 {
  position: absolute;
  left: auto;
  top: auto;
  width: auto;
  height: auto;
  position: relative;
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
}
